*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../image/bkground.jpg');
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header nav{
    /* background-color: red; */
    height: 80px;
    width: 100%;
}