*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: black;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.input-group span {
    position: absolute;
    right: 50px;
    font-size: 14px;
    color: red;
    margin-top: 35px;
}

#submit-error {
    color: red;
}

header nav{
    background-color: black;
    height: 100px;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav .portfolio-logo {
    margin-left: 20px;
    margin-top: 20px;
}

header nav .portfolio-menu ul{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
}

header nav .portfolio-menu ul li a{
    margin-left: 30px;
    color: #fff;
}

main .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

main .title h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

main .title p {
    font-size: 20px;
    font-weight: 400;
}

main .sided-navigation {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-between;   
}

main .sided-navigation .languages ul li a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 20px;
    rotate: 270deg;
}

main .sided-navigation .social-media ul li a{
    color: #fff;
    margin-right: 60px;
    margin-bottom: 20px;
}

main .sided-navigation .social-media img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    margin-top: 0px;
    background-color: #fff;
}
/* End of CSS-Homepage */

/* CSS-About-Me*/

main .my-details{
    position: absolute;
    /* border: 1px solid red; */
    width: 99%;
    height: 720px;
}

main .my-details .main-image {
    /* border: 1px solid green; */
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
}

main .my-details .main-image img {

    position: relative;
    margin-left: 50px;
    margin-top: 150px;
    border-radius: 20px;
    border: 1px solid white;
    width: 450px;
    height: 500px;
}

main .my-details .main-content {
    position: absolute;
    /* border: 1px solid yellow; */
     margin-top: -658px;
    width: 55%;
    height: 650px;
    margin-left: 43%;
}

main .my-details .main-content .about-small-title {
    color: gray;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

main .my-details .main-content h1 {
    margin-top: 20px;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px;
    
}

main .my-details .main-content .aboutme {
    color: rgba(83, 207, 139, 0.87);
    width: 140px;
    margin-left: 300px;
}

main .my-details .main-content h5 {
    text-align: left;
    font-weight: 800;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: rgba(83, 207, 139, 0.87);
}

main .my-details .main-content h4 {
    margin-left: 10px;
    font-size: 22px;
}

main .my-details .main-content .about-content {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
}

main .my-details .main-content .underparagraph {
    width: 650px;
    margin-left: 50px;
    margin-bottom: 20px;
}

main .my-details .main-content .info-session {
    position: relative;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24px;
}

main .my-details .main-content .info-session .info-session-name {
    position: relative;
    margin-left: 10px;
    margin-top: 50px;
    width: 300px;
}

main .my-details .main-content .info-session .info-session-name .name {
    position: relative;
    margin-left: 10px;
    color: rgba(83, 207, 139, 0.87);
    font-style: italic;
}

main .my-details .main-content .info-session .info-session-email {
    position: absolute;
    margin-left: 350px;
    margin-top: -20px;
}
main .my-details .main-content .info-session .info-session-email .email{
    position: absolute;
    color: rgba(83, 207, 139, 0.87);
    font-style: italic;
    margin-left: 10px;
}

main .my-details .main-content .info-session .info-session-age {
    position: relative;
    margin-left: 10px;
    margin-top: 20px;
}

main .my-details .main-content .info-session .info-session-age .age{
    position: relative;
    margin-left: 40px;
    margin-top: 30px;
    color: rgba(83, 207, 139, 0.87);
}

main .my-details .main-content .info-session .info-session-address {
    position: absolute;
    margin-left: 350px;
    margin-top: -20px;
}
main .my-details .main-content .info-session .info-session-address .address{
    position: absolute;
    color: rgba(83, 207, 139, 0.87);
    font-style: italic;
    margin-left: 10px;
    width: 200px;
}

main .my-details .main-content .info-session .info-session-download {
    position: relative;
    margin-left: 60px;
    margin-top: 70px;
}

main .my-details .main-content .info-session .info-session-download button{
    height: 35px;
    width: 160px;
    background-color: rgba(83, 207, 139, 0.87);
    border-radius: 10px;
    border: 1px solid rgba(83, 207, 139, 0.87);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main .my-details .main-content .info-session .info-session-download button:hover{
    height: 35px;
    width: 160px;
    background-color: rgb(0, 245, 110);
    border-radius: 10px;
    border: 1px solid rgba(0, 245, 110);
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main .my-details .main-content .info-session .underdown {
    position: absolute;
    margin-top: -15px;
    width: 200px;
    margin-left: 270px;
}



main .my-details .main-content .info-session .main-social-media ul{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    margin-top: -30px;
}

main .my-details .main-content .info-session .main-social-media img{
   
    width: 25px;
    height: 25px;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 10px;
}

/* End of CSS About-Me  */
/* CSS About-Services */

main .my-details .my-services .service-small-title{
    padding: 60px 30px 30px 30px;
    color: gray;
    font-size: 16px;
}

main .my-details .my-services h1 {
    padding: 0px 0px 0 30px;
    font-size: 38px;
    font-weight: 800;
}

main .my-details .my-services .services {
    /* border: 1px solid red; */
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
    height: 360px;
}

main .my-details .my-services .services .service{
    border: 1px solid rgba(83, 207, 139, 0.87);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 400px;
    height: 300px;
    background-color: rgba(22, 20, 20, 0.712);
    text-align: center;
    border-style: dashed;
    border-top-left-radius: 10%;
}

main .my-details .my-services .services .service:hover{
    border: 1px solid rgba(255, 255, 255, 0.973);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.137);
    text-align: center;
    border-style: dashed;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

main .my-details .my-services .services .service .service-image{
    margin-top: 20px;
}

main .my-details .my-services .services .service .service-image img{
    margin-top: 5px;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

main .my-details .my-services .services .service .service-content h3{
    margin-top: 20px;
    color: rgba(62, 240, 142, 0.87);   
}

main .my-details .my-services .services .service .service-content p{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

/* End of CSS about-Services */

/* CSS About-testimonials */

main .my-details .my-testimonials .testimonial-small-title {
    padding: 60px 30px 30px 30px;
    color: gray;
    font-size: 16px;
}

main .my-details .my-testimonials h1 {
    padding: 0px 0px 0 30px;
    font-size: 38px;
    font-weight: 800;
}

main .my-details .my-testimonials .active-testimonials{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 360px;
    /* border: 1px solid red; */
}

main .my-details .my-testimonials .active-testimonials .testimonial {
    /* border: 1px solid yellow; */
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    width: 600px;
    height: 300px;
    background-color: rgba(22, 20, 20, 0.712);
    
}

main .my-details .my-testimonials .active-testimonials .testimonial:hover {
    /* border: 1px solid yellow; */
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    width: 600px;
    height: 300px;
    /* background-color: rgba(158, 12, 12, 0.712); */
    border-bottom-color: aqua;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    
}

main .my-details .my-testimonials .active-testimonials .testimonial .testimonial-image img{
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;

}
main .my-details .my-testimonials .active-testimonials .testimonial .testimonial-header{
    position: absolute;
    margin-top: -80px;
    margin-left: 150px;
    font-weight: 700;   
}

main .my-details .my-testimonials .active-testimonials .testimonial .icon-quote i{
    position: absolute;
    color: rgba(62, 240, 142, 0.87);
    font-size: 30px;
    margin-left: 520px;
    margin-top: -90px;
}

main .my-details .my-testimonials .active-testimonials .testimonial .testimonial-content{
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 40px;
    font-size: 16px;
}

/* End of About Page */

/* Contact Page */

main .contact-details .simple-title {
    color: gray;
    text-align: center;
    margin-top: 20px;
}

main .contact-details h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 38px;
    font-weight: 800;
}

main .contact-details .underinfo {
    width: 170px;
    border: 1px solid rgba(62, 240, 142, 0.87);
    color: rgba(62, 240, 142, 0.87);
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 5px;
}

main .contact-details .contact-session {
    position: relative;
    /* border: 1px solid red; */
}
main .contact-details .contact-session .contact-session-header {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .contact-details .contact-session .contact-form{
    /* border: 1px solid yellow; */
    position: relative;
    margin-top: 20px;
    height: 400px;
    width: 650px;
    margin-left: 10px;
}

main .contact-details .contact-session .contact-form input {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 580px;
    height: 35px;
    border: 1px solid rgb(36, 37, 37);
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgba(31, 30, 30, 0.781);
    color: #fff;
}

main .contact-details .contact-session .contact-form .subject{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 580px;
    height: 35px;
    border: 1px solid rgba(36, 37, 37);
    border-radius: 5px;
    padding-left: 10px;
}

main .contact-details .contact-session .contact-form .message-here {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 580px;
    height: 100px;
    border: 1px solid rgba(36, 37, 37);
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgba(31, 30, 30, 0.781);
    color: #fff;
}

main .contact-details .contact-session .contact-form textarea::placeholder{
    color: #fff;
    font-size: 14px;
    opacity: 0.5;
}

main .contact-details .contact-session .contact-form input::placeholder {
    color: #fff;
    font-size: 14px;
    opacity: 0.5;
}

main .contact-details .contact-session .contact-form button {
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 250px;
    height: 40px;
    border: 1px solid rgba(62, 240, 142, 0.87);
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgba(62, 240, 142, 0.87);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;;
}

main .contact-details .contact-session .contact-info {
    position: absolute;
    margin-top: -450px;
    margin-left: 700px;
    font-size: 24px;
    /* border: 1px solid yellow; */
    width: 600px;
    text-align: right;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .contact-details .contact-session .contact-informations {
    position: absolute;
    margin-top: -400px;
    margin-left: 680px;
    width: 650px;
    height: 400px;
    /* border: 1px solid yellow; */
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .contact-details .contact-session .contact-informations .para-info{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 40px;
    width: 420px;
    text-align: right;
    height: 60px;
    /* border: 1px solid rgba(36, 37, 37); */
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main .contact-details .contact-session .contact-informations .letter-feel {
    color: red;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main .contact-details .contact-session .contact-informations .letter-me {
    color: red;
    font-size: 28px;
    font-style: oblique;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .contact-details .contact-session .contact-informations .address-icon-session .icons{
    position: absolute;
    margin-top: 30px;
    margin-left: 240px;
    width: 50px;
    height: 220px;
    /* border: 1px solid red; */
    color: rgba(62, 240, 142, 0.87);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* --- above hr will be placed here --- */

main .contact-details .contact-session .contact-informations .contact-hr {
    position: absolute;
    margin-top: 120px;
    margin-left: -30px;
    width: 340px;
    rotate: 90deg;
    border-style: dashed;
    color: whitesmoke;
}

main .contact-details .contact-session .contact-informations .address-icon-session .info {
    position: absolute;
    margin-top: 20px;
    /* border: 1px solid red; */
    width: 320px;
    height: 260px;
    margin-left: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .contact-details .contact-session .contact-informations .address-icon-session .info  h3{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .contact-details .contact-session .contact-informations .address-icon-session .info  p{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .blog-title h1, p{
    margin-top: 30px;
    text-align: center;
}

main .blog-title p {
    font-size: 16px;
    color: gray;
}
main .blog-title h1 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 700;
}

main .blog-title .blog-line {
    width: 100px;
    text-align: center;
    border: 1px solid rgba(62, 240, 142, 0.87); 
    margin: 0 auto;   
    margin-top: 30px;
    margin-bottom: 30px;
}

main .blog-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 1px solid red; */
    width: 100%;
}

main .blog-lists .blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 30px;
    width:400px;
    height: 500px;
}

main .blog-lists .blog-content .blog-image{
    width: 300px;
    height: 200px;
    margin-top: 10px;
    border-radius: 5px;
}
main .blog-lists .blog-content .blog-image img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}
main .blog-lists .blog-content .blog-header h2{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main .blog-lists .blog-content .blog-description p{
    color: #fff;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

main .blog-lists .blog-content .blog-description .blog-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .blog-lists .blog-content .blog-description .blog-info .blog-author p{
   font-size: 12px;
   font-style: oblique;
   font-weight: 700;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main .blog-lists .blog-content .blog-description .blog-info .blog-author p span{
   font-size: 12px;
   font-style: oblique;
   font-weight: 700;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: aqua;
}

main .blog-lists .blog-content .blog-description .blog-info .blog-date p{
   font-size: 12px;
   font-style: oblique;
   font-weight: 700;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main .blog-lists .blog-content .blog-description .blog-info .blog-date p span{
   font-size: 12px;
   font-style: oblique;
   font-weight: 700;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: aqua;
}

main .resume-title p, h1{
    text-align: center;
    margin-top: 30px;
}

main .resume-title p{
    color: gray;
    font-size: 16px;
}

main .resume-title h1 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 700;
}

main .resume-title .resume-line {
    width: 150px;
    text-align: center;
    border: 1px solid rgba(62, 240, 142, 0.87); 
    margin: 0 auto;   
    margin-top: 30px;
    margin-bottom: 30px;
}
main .backgrounds {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
    margin-left: 0px;
    margin-right: 0px;
}

main .backgrounds .education {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    background-color: rgba(68, 67, 67, 0.336);
    width: 44%;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 30px;
    border-left: 4px solid rgba(13, 201, 98, 0.87);
}

main .backgrounds .education .background-education{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

main .backgrounds .education .background-education .education-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 3px solid green; */
}

main .backgrounds .education .background-education .education-info .para1{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

main .backgrounds .education .background-education .education-info .para1 span{
 color: rgb(165, 236, 230);
    font-size: 16px;
    font-weight: 700;
    font-size: 12px;
}

main .backgrounds .education .background-education .education-info hr{
    color: rgb(58, 57, 57);
}
main .backgrounds .experience {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    background-color: rgba(68, 67, 67, 0.336);
    width: 44%;
    margin-left: 2%;
    margin-right: 4%;
    margin-top: 30px;
    border-left: 4px solid rgba(13, 201, 98, 0.87);
}

main .backgrounds .experience .background-experience{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

main .backgrounds .experience .background-experience .experience-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 3px solid green; */
}

main .backgrounds .experience .background-experience .experience-info .para2{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

main .backgrounds .experience .background-experience .experience-info .para2 span{
 color: rgb(165, 236, 230);
    font-size: 16px;
    font-weight: 700;
    font-size: 12px;
}

main .backgrounds .experience .background-experience .experience-info hr{
    color: rgb(58, 57, 57);
}

main .office {
    margin-top: 100px;
    margin-bottom: 100px;
    /* border: 1px solid white; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
 main .office .note-section {
    /* border: 1px solid red; */
    width: 48%;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

  main .office .note-section .note-head h2 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

   main .office .note-section .summary p{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin-left: 50px;
    margin-right: 20px;
  }


 main .office .video-section {
    border: 1px solid rgba(255, 0, 0, 0.185);
    width: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-top: 10px;
    border-bottom: 10px;
 }

/* 
 main .office .video-section .office-video {
    border: 1px solid yellow;
 } */

 main .office .video-section .office-video img{
    width: 100%;
    border-radius: 10px;

 }